@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&family=Jura:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}
#header{
    height: 70px;
    width: 100%;

    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    font-family: Jura, Arial, Helvetica, sans-serif;
    font-weight: bold;
    backdrop-filter: blur(2px);
    z-index: 999;
}

#headerImgTitle{
    display: flex;
    height: 100%;
    align-items: center;
    column-gap: 20px;
    position: relative;
    left: 100px;
}
#header-img{
    width: 40px;
    height: auto;
    display: inline-block;
    
    position: relative;
    
}
#headerTitle{
    display: inline-block;
    letter-spacing: 4px;
}
#nav-bar{
    display: flex;
    position: absolute;
    right: 100px;
    width: auto;
    height: 100%;
    align-items: center;
    flex-direction: row;
    column-gap: 70px;
}
.nav-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}
.nav-link:hover{
    
    text-decoration: underline;
}

#main{
    
    height: 100%;
    width: 100%;
    font-family: Inconsolata, Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#sForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    margin-top: 4rem;
}
#aTitleForm{
    width: 600px;
}
#titleForm{
    text-align: center;
    font-size: 1.3em;
}
#titleForm >span{
    color: darkorange;
    font-weight: bold;
}
#form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;

}
input[type="email"]{
    background-color: white;
    height: 2.4em;    
    width: 200px;
    text-align: center;
}
input:placeholder-shown{
    text-align: center;
    
    
}


input[type="submit"]{
    background-color: darkorange;
    width: 150px;
    height: 2.4em;
    cursor: pointer;
}

#sCaracteristicas{
    margin-top: 7rem;
}
.aCaracteristicas{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-bottom: 50px;
    
}
.imgCaracteristicas{
    width: 40px;

}

.divTextCaracteristicas{
    font-size: 1.1em;
    
}
.titleCaracteristicas{
    font-weight: bold;
    font-size: 1.5em;
}
#firstImg-Caracteristicas{
    width: 35px;
    margin-right: 5px;
}

#sPianos{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 4em;
    margin-left: 100px;
    gap: 80px;
}
.aPiano{
    
}
.textPianos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1em;
}
.titlePianos{
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px 4px;
}
.linkPianos{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    background-color: darkorange;
    border-radius: 5%;
    padding: 5px 4px;
}
.seta{
    color: darkorange;
    font-weight: bold;
}

#footer{
    margin-top: 40px;
    width: 100%;
    background-color: rgb(178, 103, 10);
    height: 100px;
    display: flex;
}
#footer ul{
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 100%;
    align-items: center;
    list-style-type: none;
    column-gap: 20px;
    width: 300px;
    flex-wrap: wrap;
    
}
#footer ul li{
    margin-top: 10px;
}
#footer ul p{
    margin-top: -40px;
    text-align: center;
}

@media (max-width: 768px){
    #footer ul p{
        text-align: center;
    }
}